```
# Dependencies
node_modules/

# Logs and temp files
*.log
*.tmp
*.swp

# Environment
.env
.env.local
*.env.*

# Editors
.vscode/
.idea/

# Build artifacts
dist/
build/
target/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
*.tmp
*.bak
*.swp
*.swo
.DS_Store
Thumbs.db

# Java
*.class
*.jar
*.war
*.ear
*.tar.gz
*.orig
*.rej
*.so
*.dylib
*.dll
*.exe
*.o
*.obj
*.out
*.a
*.lib
*.pdb
*.ilk
*.exp
*.idb
*.ncb
*.sdf
*.suo
*.opensdf
*.user
*.userosscache
*.sln.docstates
*.vcxproj.filters
*.VC.db
*.VC.VC.opendb
*.VC.opendb
*.VC.sln.cache
*.VC.user
*.VC.vcproj.*.user
*.VC.vcxproj.*.user
*.VC.vcxproj.user
*.VC.vcxproj.filters.user
*.VC.vcxproj.filters
*.VC.vcxproj
*.VC.sln
*.VC.suo
*.VC.sln.docstates
*.VC.ncb
*.VC.rej
*.VC.orig
*.VC.tar.gz
*.VC.so
*.VC.dylib
*.VC.dll
*.VC.exe
*.VC.o
*.VC.obj
*.VC.out
*.VC.a
*.VC.lib
*.VC.pdb
*.VC.ilk
*.VC.exp
*.VC.idb
*.VC.ncb
*.VC.sdf
*.VC.suo
*.VC.opensdf
*.VC.user
*.VC.userosscache
*.VC.sln.docstates
*.class
*.jar
*.war
*.ear
target/
.gradle/
build/
.settings/
bin/
*.launch
nbproject/
*.nb
*.nbattrs
*.nbi
*.tm_properties
*.orig
*.rej
*.tar.gz
*.so
*.dylib
*.dll
*.exe
*.o
*.obj
*.out
*.a
*.lib
*.pdb
*.ilk
*.exp
*.idb
*.ncb
*.sdf
*.suo
*.opensdf
*.user
*.userosscache
*.sln.docstates
*.vcxproj.filters
*.VC.db
*.VC.VC.opendb
*.VC.opendb
*.VC.sln.cache
*.VC.user
*.VC.vcxproj.*.user
*.VC.vcxproj.user
*.VC.vcxproj.filters.user
*.VC.vcxproj.filters
*.VC.vcxproj
*.VC.sln
*.VC.suo
*.VC.sln.docstates
*.VC.ncb
*.VC.rej
*.VC.orig
*.VC.tar.gz
*.VC.so
*.VC.dylib
*.VC.dll
*.VC.exe
*.VC.o
*.VC.obj
*.VC.out
*.VC.a
*.VC.lib
*.VC.pdb
*.VC.ilk
*.VC.exp
*.VC.idb
*.VC.ncb
*.VC.sdf
*.VC.suo
*.VC.opensdf
*.VC.user
*.VC.userosscache
*.VC.sln.docstates
*.class
*.jar
*.war
*.ear
target/
.gradle/
build/
.settings/
bin/
*.launch
nbproject/
*.nb
*.nbattrs
*.nbi
*.tm_properties
*.orig
*.rej
*.tar.gz
*.so
*.dylib
*.dll
*.exe
*.o
*.obj
*.out
*.a
*.lib
*.pdb
*.ilk
*.exp
*.idb
*.ncb
*.sdf
*.suo
*.opensdf
*.user
*.userosscache
*.sln.docstates
*.vcxproj.filters
*.VC.db
*.VC.VC.opendb
*.VC.opendb
*.VC.sln.cache
*.VC.user
*.VC.vcxproj.*.user
*.VC.vcxproj.user
*.VC.vcxproj.filters.user
*.VC.vcxproj.filters
*.VC.vcxproj
*.VC.sln
*.VC.suo
*.VC.sln.docstates
*.VC.ncb
*.VC.rej
*.VC.orig
*.VC.tar.gz
*.VC.so
*.VC.dylib
*.VC.dll
*.VC.exe
*.VC.o
*.VC.obj
*.VC.out
*.VC.a
*.VC.lib
*.VC.pdb
*.VC.ilk
*.VC.exp
*.VC.idb
*.VC.ncb
*.VC.sdf
*.VC.suo
*.VC.opensdf
*.VC.user
*.VC.userosscache
*.VC.sln.docstates
*.class
*.jar
*.war
*.ear
target/
.gradle/
build/
.settings/
bin/
*.launch
nbproject/
*.nb
*.nbattrs
*.nbi
*.tm_properties
*.orig
*.rej
*.tar.gz
*.so
*.dylib
*.dll
*.exe
*.o
*.obj
*.out
*.a
*.lib
*.pdb
*.ilk
*.exp
*.idb
*.ncb
*.sdf
*.suo
*.opensdf
*.user
*.userosscache
*.sln.docstates
*.vcxproj.filters
*.VC.db
*.VC.VC.opendb
*.VC.opendb
*.VC.sln.cache
*.VC.user
*.VC.vcxproj.*.user
*.VC.vcxproj.user
*.VC.vcxproj.filters.user
*.VC.vcxproj.filters
*.VC.vcxproj
*.VC.sln
*.VC.suo
*.VC.sln.docstates
*.VC.ncb
*.VC.rej
*.VC.orig
*.VC.tar.gz
*.VC.so
*.VC.dylib
*.VC.dll
*.VC.exe
*.VC.o
*.VC.obj
*.VC.out
*.VC.a
*.VC.lib
*.VC.pdb
*.VC.ilk
*.VC.exp
*.VC.idb
*.VC.ncb
*.VC.sdf
*.VC.suo
*.VC.opensdf
*.VC.user
*.VC.userosscache
*.VC.sln.docstates
*.class
*.jar
*.war
*.ear
target/
.gradle/
build/
.settings/
bin/
*.launch
nbproject/
*.nb
*.nbattrs
*.nbi
*.tm_properties
*.orig
*.rej
*.tar.gz
*.so
*.dylib
*.dll
*.exe
*.o
*.obj
*.out
*.a
*.lib
*.pdb
*.ilk
*.exp
*.idb
*.ncb
*.sdf
*.suo
*.opensdf
*.user
*.userosscache
*.sln.docstates
*.vcxproj.filters
*.VC.db
*.VC.VC.opendb
*.VC.opendb
*.VC.sln.cache
*.VC.user
*.VC.vcxproj.*.user
*.VC.vcxproj.user
*.VC.vcxproj.filters.user
*.VC.vcxproj.filters
*.VC.vcxproj
*.VC.sln
*.VC.suo
*.VC.sln.docstates
*.VC.ncb
*.VC.rej
*.VC.orig
*.VC.tar.gz
*.VC.so
*.VC.dylib
*.VC.dll
*.VC.exe
*.VC.o
*.VC.obj
*.VC.out
*.VC.a
*.VC.lib
*.VC.pdb
*.VC.ilk
*.VC.exp
*.VC.idb
*.VC.ncb
*.VC.sdf
*.VC.suo
*.VC.opensdf
*.VC.user
*.VC.userosscache
*.VC.sln.docstates
*.class
*.jar
*.war
*.ear
target/
.gradle/
build/
.settings/
bin/
*.launch
nbproject/
*.nb
*.nbattrs
*.nbi
*.tm_properties
*.orig
*.rej
*.tar.gz
*.so
*.dylib
*.dll
*.exe
*.o
*.obj
*.out
*.a
*.lib
*.pdb
*.ilk
*.exp
*.idb
*.ncb
*.sdf
*.suo
*.opensdf
*.user
*.userosscache
*.sln.docstates
*.vcxproj.filters
*.VC.db
*.VC.VC.opendb
*.VC.opendb
*.VC.sln.cache
*.VC.user
*.VC.vcxproj.*.user
*.VC.vcxproj.user
*.VC.vcxproj.filters.user
*.VC.vcxproj.filters
*.VC.vcxproj
*.VC.sln
*.VC.suo
*.VC.sln.docstates
*.VC.ncb
*.VC.rej
*.VC.orig
*.VC.tar.gz
*.VC.so
*.VC.dylib
*.VC.dll
*.VC.exe
*.VC.o
*.VC.obj
*.VC.out
*.VC.a
*.VC.lib
*.VC.pdb
*.VC.ilk
*.VC.exp
*.VC.idb
*.VC.ncb
*.VC.sdf
*.VC.suo
*.VC.opensdf
*.VC.user
*.VC.userosscache
*.VC.sln.docstates
*.class
*.jar
*.war
*.ear
target/
.gradle/
build/
.settings/
bin/
*.launch
nbproject/
*.nb
*.nbattrs
*.nbi
*.tm_properties
*.orig
*.rej
*.tar.gz
*.so
*.dylib
*.dll
*.exe
*.o
*.obj
*.out
*.a
*.lib
*.pdb
*.ilk
*.exp
*.idb
*.ncb
*.sdf
*.suo
*.opensdf
*.user
*.userosscache
*.sln.docstates
*.vcxproj.filters
*.VC.db
*.VC.VC.opendb
*.VC.opendb
*.VC.sln.cache
*.VC.user
*.VC.vcxproj.*.user
*.VC.vcxproj.user
*.VC.vcxproj.filters.user
*.VC.vcxproj.filters
*.VC.vcxproj
*.VC.sln
*.VC.suo
*.VC.sln.docstates
*.VC.ncb
*.VC.rej
*.VC.orig
*.VC.tar.gz
*.VC.so
*.......
```